<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-width, initial-scale=1.0"
    />
    <title>WEB Tutorials</title>
    <link rel="icon" type="images/x-icon" href="img/html.svg" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/flexbox.css" />
  </head>

  <body>
    <%- include("includes/header.ejs") %>
    <main>
      <%- include("includes/nav.ejs") %>
      <% console.log(tutorial.name); %>
      <h2><%= tutorial.name %></h2>
      <div class="tutorialDetails">
        <article id="nodeJSTutorialVideo">
          <div class="tutorialHead">
            <p calss="tutorialInfos">Datum: <%= tutorial.datum.toLocaleDateString("de-DE") %> Dauer: <%= persistence.getDauerInStundenUndMinuten(tutorial.dauer) %></p>
            <figure class="thisTutorialPic">
              <img width="50" height="50" src="<%= tutorial.bild.url %>" />
              <figcaption><%= tutorial.bild.name %></figcaption>
            </figure>
          </div>
          <div class="videoClass">
            <p>
              <video src="vid/Was ist Node.js.mp4" width="500" controls>
                Ihr Browser unterstützt dieses Format nicht
              </video>
            </p>

            <table>
              <tbody>
                <tr>
                  <th>Kapitel</th>
                  <th>Kurzbeschreibung</th>
                  <th>Dauer</th>
                </tr>
                <tr>
                  <td>Einleitung</td>
                  <td>Eine kurze Einleitung zu Node.js</td>
                  <td>1:30 Min.</td>
                </tr>
                <tr>
                  <td>Bestandtteile</td>
                  <td>
                    Die auflistung der Bestandtteile von Node.js durch den
                    Vortragenden
                  </td>
                  <td>2 Min.</td>
                </tr>
                <tr>
                  <td>Outro</td>
                  <td>Das Outro</td>
                  <td>1:15 Min.</td>
                </tr>
              </tbody>
              <tfoot>
                <td colspan="2"></td>
                <td>4:45 Min</td>
              </tfoot>
            </table>
          </div>
        </article>
        <%- include("includes/zusatz.ejs")%>
      </div>
    </main>

    <%- include ("includes/footer.ejs") %>
    <script src="js/burger.js"></script>
  </body>
</html>
